<div>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span>My App</span>                
    </mat-toolbar>

    <mat-drawer-container class="drawer-container">
        <mat-drawer mode="side" opened>
            <app-menu></app-menu>
        </mat-drawer>
        <mat-drawer-content>
            <div class="p-5">
                <router-outlet></router-outlet>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>